# Database Configuration
MYSQL_ROOT_PASSWORD=Tt51714183.
MYSQL_DATABASE=task_tracker

# Backend Configuration
SERVER_PORT=8000
SPRING_PROFILES_ACTIVE=prod

# Docker Hub Configuration (for Jenkins)
DOCKER_HUB_USERNAME=thisarasamuditha

# Frontend Configuration
VITE_API_BASE_URL=/api
