services:
  # Spring Boot Backend
  backend:
    image: thisarasamuditha/backend:latest
    container_name: backend
    ports:
      - "8088:8088"
    environment:
      - SPRING_PROFILES_ACTIVE=prod
      - SERVER_PORT=8088
      # External Database Configuration
      - SPRING_DATASOURCE_URL=jdbc:mysql://${DB_HOST}:3306/${MYSQL_DATABASE:-taskdb}
      - SPRING_DATASOURCE_USERNAME=${MYSQL_USER:-devops}
      - SPRING_DATASOURCE_PASSWORD=${MYSQL_PASSWORD:-DevOps2026}
      - SPRING_JPA_HIBERNATE_DDL_AUTO=update
      - SPRING_JPA_DATABASE_PLATFORM=org.hibernate.dialect.MySQLDialect
      - JAVA_OPTS=-Xmx256m -Xms128m
    restart: unless-stopped
    networks:
      - app-network

  # React Frontend
  frontend:
    image: thisarasamuditha/frontend:latest
    container_name: frontend
    depends_on:
      - backend
    ports:
      - "80:80"
    restart: unless-stopped
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
