version: '3.8'

services:
  mysql:
    image: mysql:8.0
    container_name: mysql_db
    command:
      - --default-authentication-plugin=mysql_native_password
      - --innodb-buffer-pool-size=256M
      - --max-connections=100
    environment:
      MYSQL_ROOT_PASSWORD: DevOps2026
      MYSQL_DATABASE: taskdb
      MYSQL_USER: devops
      MYSQL_PASSWORD: DevOps2026
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    restart: unless-stopped

volumes:
  mysql_data:
    driver: local
